/**Styled Button*/
.styled_button {
  background: #45ff14;
  color: #108036;
  font-weight: 600;
  font-size: 2rem;
  padding: 1rem 5rem;
  border-radius: var(--border-radius);
  cursor: pointer;
  box-shadow: 2px 2px 2px 1px rgba(130, 255, 143, 0.2);
  border: none;
}

/** NAVBAR */
.nav_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  /* background-color: var(--color-bg-primary); */
}
.nav_list_wrap {
  flex: 1;
}
.nav_list {
  display: flex;
  justify-content: space-evenly;

  gap: 1rem;
  width: 100%;
}
.list_item {
  font-size: 1.8rem;
  font-weight: 600;
}
.list_item_side {
  font-size: 1.5rem;
  font-weight: 600;
}
.list_item:hover {
  color: gray;
}
/** Language Dropdown */
.languages {
  position: relative;
  font-size: 2rem;
  cursor: pointer;
  text-align: right;
  z-index: 45;
}
.languages:focus {
  pointer-events: none;
}
.languages:focus .languages_dropdown {
  opacity: 1;
  visibility: visible;
}
.languages_dropdown {
  background-color: var(--color-bg-primary);
  pointer-events: auto;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  transition: visibility 1s;
  z-index: 2;
}
.lang_con {
  display: flex;
  align-items: center;  

}

/** SEARCH  */
.search_con {
  max-width: 85rem;
  width: 100%;
  background-color: var(--color-bg-primary);
  border-radius: var(--border-radius);
  display: flex;
  position: absolute;
  margin-top: -6rem;
  padding: 1rem;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
.select_con {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.select_form {
  outline: 0;
  background: none;
  border: 0;
  cursor: pointer;
  font-size: 2rem;
  padding: 8px 0;
  border-radius: 0;
  color: inherit;
  background-color: var(--color-bg-primary);
}
.label {
  font-size: 1.5rem;
  font-weight: 600;
  padding-left: 4px;
}
.search_btn {
  background: #45ff14;
  color: #108036;
  font-weight: 600;
  font-size: 2rem;
  border-radius: var(--border-radius);
  cursor: pointer;
  box-shadow: 2px 2px 2px 1px rgba(130, 255, 143, 0.2);
  border: none;
  padding: 1rem 5rem;
}
.search_btn:hover {
  color: gray;
}

/** Popular Properties */
.properties_card {
  border-radius: var(--border-radius);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 0 0 3rem 0;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--color-bg-primary);
}
.price {
  font-size: 2.5rem;
  font-weight: 500;
}
.attributes {
  font-size: 1rem;
  letter-spacing: 1.5px;
}
.location {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

/** SECTION HEADER */

.section_con {
  width: 100%;
  max-width: 80rem;
  margin: auto;
  margin-top: 5rem;
}

.section_header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}
.slogan {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  position: relative;
}
.sec_name {
  font-size: 2rem;
  font-weight: 500;
}
.sec_name:before {
  content: "";
  position: absolute;
  height: 1px;
  background: var(--color-text-primary);
  top: 1rem;
  left: -4.5rem;
  width: 4rem;
}
.sec_title {
  font-size: 4rem;
  line-height: 0.9;
  max-width: 60rem;
}
.section_gallery {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 2rem;
}

/** Slider Menu Toggler */
.nav_container:focus-within .toggle_button {
  pointer-events: none;
}
.nav_content {
  transform: translateX(100%);
  transition: transform 0.3s;
}
.nav_container:focus-within .nav_content {
  transform: none;
}

@media (max-width: 800px) {
  .section_con {
    padding: 0;
  }
  .form {
    flex-direction: column;
  }
  .search_btn {
    width: 35 rem;
    margin: auto;
  }
  .search_con {
    margin-top: 0;
  }
  .sec_title {
    font-size: 3rem;
  }


  /** Search con  */

 
  .label {
    font-size: 1.3rem;
    font-weight: 600;
    padding-left: 4px;
  }
  .select_form { 
    font-size: 1.5rem; 
  }
  .search_btn { 
    font-size: 1.5rem; 
    padding: 0.5rem 5rem;
  }
  .search_btn:hover {
    color: gray;
  }
}