.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column; 
  flex: 1; 
  justify-content: center;

} 
.video_con{  
  width: 100%;
  position: relative;
  height: 85vh; 
  object-fit: scale-down;
} 
.video {    
  width: 100%; 
  height: auto;  
  max-height: 85vh;
  object-fit: cover; 
}
.header { 
  font-size: 32px; 
}

.main { 
  display: flex;  
  flex-direction: column; 
  flex: 1;  
} 

/** Search & Popular properties section  */
.search_popular{ 
  width:  100%;
  background: linear-gradient( var(--color-bg-primary), var(--color-gradient-green));
  } 

 @media (max-width: 800px) {
  .video{
    height: auto; 
  }
  .video_con{
    margin-bottom: 20rem;
    height: 100%;
  } 
  .search_popular{ 
    margin-top: 10rem;
   } 
}